@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate;
}

@theme {
  --font-display: "Arial";
  --font-Jakarta-SemiBold: "PlusJakartaSans-SemiBold";
}

@font-face {
  font-family: "PlusJakartaSans-SemiBold";
  src: url("/fonts/PlusJakartaSans-SemiBold.ttf");
}
